*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: GT America Regular, sans-serif;
  src: url(/assets/font/GT\ America\ Regular.ttf);
}
h1, h2, h3, p, input{
  font-family: GT America Regular, sans-serif;
}
/*===========================================================================================================HEADER*/
.header{
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding-left: 95px;
  padding-right: 95px;
  height: 88px;
}

.right{
  display: flex;
}

.bx-pyramid{
  border-radius: 25%;
  background-color: #fff;
  color: #000000;
  font-size: 50px;
  height: 50px;
  align-self: center;
}

.text-header{
  padding-left: 20px;
  align-self: center;
  color:#fff;
  font-size: 24px;
  font-weight: 400;
}

.left{
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.submit-button{
  font-size: 24px;
  border-radius: 10px;
  height: 50px;
  width: 230px;
  color:  #fff;
  background-color: #191A1B;
  border-color: #fff;
  border-width: 1px;
}

.signIn-button{
  margin-left: 16px;
  font-size: 24px;
  border-radius: 10px;
  height: 50px;
  width: 140px;
  color: #fff;
  background-color: #4C5FD5;
  border-color: #4C5FD5;
  border-width: 1px;
}

/*===========================================================================================================BODY*/
.search{
  background-color:#dadbf1;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input{
  font-size: 20px;
}

input::placeholder {
  font-size: 20px;
  padding: 16px;
}

.title{
  font-size: 80px;
  font-weight: 400px;
  margin-bottom: 16px;
  line-height: 120px;
}

.searchBar{
  width: 720px;
  height: 66px;
}

.grid{
  display: grid;
  grid-template-columns: auto auto;
  height: 1080px;
  margin-top: 130px;
  margin-left: 145px;
  margin-right: 145px;
}

img{
  width: 85px;
  height: 85px;
  margin-right: 30px;
}

.categories{
  display: flex;
  flex-direction: row;
}

.title-item{
  margin-bottom: 16px;
}

.text-item{
  font-size: 20px;
  margin-bottom: 50px;
  line-height: 32px;
}

.learnMore{
  width: 130px;
  font-size: 20px;
}

.bxs-chevrons-right{
  font-size: 10px;
}

a{
  color: #4C5FD5;
}

a:hover{
  text-decoration-line: underline;
}

/*===========================================================================================================FOOTER*/
.footer{
  background-color: #000000;
  height: 250px;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.title-footer{
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 16px;
}

.text-footer{
  font-size: 16px;
  margin-bottom: 10px;
}

.pyramid-footer{
  margin-bottom: 10px;
}

.copyright{
  align-self: flex-end;
}